In [10]:
# 1 What are escape characters, and how do you use them?
#Ans: In Python strings, the backslash "\" is a special character, also called the "escape" character. 
#     It is used in representing certain whitespace characters: "\t" is a tab, "\n" is a newline, and "\r" is a carriage return

text = 'It\'s good.'
print(text)

It's good.

In [11]:
# 2. What do the escape characters n and t stand for?
#Ans:  "\t" is a tab, "\n" is a newline

In [12]:
# 3. What is the way to include backslash characters in a string?

print('its a back slash \\ in a line')

its a back slash \ in a line

In [17]:
# The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped
# a problem? The single quote in Howl's is fine because you've used double quotes to mark the beginning and end of the string.
# like wise we can use double quotes in with single quotes

print("Howl\'s Moving Castle")

# in the same way we can use double quotes inside single quotes.....
print('Its a "Nice" Day')

Howl's Moving Castle
Its a "Nice" Day

In [21]:
# 5. How do you write a string of newlines if you don&#39;t want to use the n character?

print("printing something in new line",end = '\n')
print("newline")

printing something in new line
newline

In [25]:
#6 What are the values of the given expressions? 
print('Hello, world!'[1]) 
print('Hello, world!'[0:5]) 
print('Hello, world!'[:5]) 
print('Hello, world!'[3:])

e
Hello
Hello
lo, world!

In [28]:
# 7. What are the values of the following expressions?
# "Hello".upper()
# "Hello".upper().isupper()
# "Hello".upper().lower()

In [29]:
"Hello".upper()

'HELLO'

In [30]:
"Hello".upper().isupper()

True

In [31]:
"Hello".upper().lower()

'hello'

In [32]:
#8 What are the values of the following expressions? 'Remember, remember, the fifth of July.'.split() 
# '-'.join('There can only one.'.split())

In [33]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [34]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

In [39]:
# 9. What are the methods for right-justifying, left-justifying, and centering a string?
str = "my name is Gopal"

str.ljust(50,'#')

'my name is Gopal##################################'

In [41]:
str.rjust(50,'#')

'##################################my name is Gopal'

In [42]:
str.center(50,'#')

'#################my name is Gopal#################'

In [43]:
# 10. What is the best way to remove whitespace characters from the start or end?

str = "      that's Alright         "  

str.lstrip()

"that's Alright         "

In [44]:
str.rstrip()

"      that's Alright"